.product{
    .product-carousel{
        // gap : 22px;
        flex-wrap: nowrap;
        overflow-x: scroll !important;

        &::-webkit-scrollbar{
            display: none;
        }

        .product-item{
            padding: 0 0 50px;
            .price{
                margin-bottom: -12px;
                background-color: var(--primary);
                font-weight: 800;
            }
            .image{
                background-color: var(--primary);
            }
            .btn{
                height: 40px;
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary);
                border-radius: 100px;
                font-weight: 600;
            }
        }
    }
}