// .carousel-item {
//     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../../assets/Images/carousel-1.jpg);
// }
.carousel-item {
    position: relative;

    .img {
        filter: brightness(72%);
    }

    .carousel-caption {
        position: absolute;
        top: 15px;

        .box {
            max-width: 850px;

            .hsmall {
                font-size: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .hlarge {
                font-size: 68px;
                font-weight: 700;
            }

            .button {
                background-color: var(--primary);
                border-radius: 25px;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

    .arrow {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 992px) {
    .carousel-item {
        .carousel-caption {
            top: 15px;

            .box {
                max-width: 650px;

                .hsmall {
                    font-size: 20px;
                }

                .hlarge {
                    font-size: 60px;
                }

                .button {
                    font-size: 16px;
                }
            }
        }

    }

    .arrow {
        background-color: var(--secondary);
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
}